{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p class="one">МАГАЗИН «ОФЕЛИЯ» ОСНОВАН В 1996Г. В ГОРОДЕ САРАНСКЕ, КАК РОЗНИЧНЫЙ МАГАЗИН ПО
    <br>ПРОДАЖЕ ДОМАШНЕЙ ТЕЛЕ-ВИДЕО И БЫТОВОЙ ТЕХНИКИ. ЦЕНА И АССОРТИМЕНТ ТЕХНИКИ,
    <br>ПРЕДСТАВЛЕННОЙ В НАШИХ МАГАЗИНАХ, ВСЕГДА ПРИВЛЕКАЕТ ПОКУПАТЕЛЕЙ, КАК ЧАСТНЫХ ЛИЦ,
    <br>ТАК И КРУПНЫЕ ПРЕДПРИЯТИЯ И ОРГАНИЗАЦИИ.</p>
    <p class="one">В НАСТОЯЩЕЕ ВРЕМЯ ЧЕТЫРЕ НАШИХ МАГАЗИНА РАСПОЛОЖЕНЫ В ЦЕНТРАЛЬНОЙ ЧАСТИ ГОРОДА
    <br>САРАНСКА И ОДИН В П.ЧАМЗИНКА.</p>
    <p class="one">ПРОДАВЦЫ НАШИХ МАГАЗИНОВ ГОТОВЫ ПРОКОНСУЛЬТИРОВАТЬ ПО ЛЮБОМУ ВОПРОСУ, СВЯЗАННОМУ
    <br>С ВЫБОРОМ И ПОКУПКОЙ ЭЛЕКТРОНИКИ И БЫТОВОЙ ТЕХНИКИ. МЫ ДОСТАВИМ, ПРИОБРЕТЁННУЮ У
    <br>НАС ТЕХНИКУ, В УДОБНОЕ ДЛЯ ВАС ВРЕМЯ ДО ДВЕРИ ВАШЕЙ КВАРТИРЫ ИЛИ ДОМА.</p>
    <p class="one">МЫ СТРЕМИМСЯ ПРЕДОСТАВИТЬ НАШИМ ПОКУПАТЕЛЯМ ТОВАРЫ ЛУЧШИХ МИРОВЫХ
    <br>ПРОИЗВОДИТЕЛЕЙ В ОБЛАСТИ ЭЛЕКТРОНИКИ И БЫТОВОЙ ТЕХНИКИ ПО ЛУЧШИМ ЦЕНАМ.</p>
    <p class="one">ЗА ДОЛГИЕ ГОДЫ РАБОТЫ НАША КОМПАНИЯ СМОГЛА ЗАВОЕВАТЬ ДОВЕРИЕ ПОКУПАТЕЛЕЙ И
    <br>ПОДТВЕРДИТЬ СВОЮ КОНКУРЕНТОСПОСОБНОСТЬ НА РЫНКЕ БЫТОВОЙ ЭЛЕКТРОНИКИ.</p>
{% endblock %}