{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p class="one">Offeliashop –  одна из крупнейших розничных сетей по объёмам продаж электроники
    <br>и бытовой техники в России. «Offeliashop» осуществляет свою деятельность с 1996 года и является первой
    <br>на российском рынке сетью, реализовавшей полноценный омниканальный подход к продажам — это
    <br>единый ассортимент, цена и сервис как при покупке в магазинах, так и онлайн. Ритейлер предлагает своим
    <br>покупателям несколько десятков тысяч наименований аудио/видео и цифровой техники, мелкой и крупной
    <br>бытовой техники, медиатоваров, а также аксессуаров. Магазины «Offeliashop» имеют единый формат
    <br>и специальную концепцию дизайна. Помимо эффективного формата розничной торговли
    <br>и ориентированной на покупателя концепции магазина, компания предлагает клиентам высококлассную
    <br>сервисную поддержку под брендом «М.Сервис». Эксперты «М.Кредит» помогут быстро заполнить анкету и получить
    <br>одобрение сразу от нескольких банков-партнёров.</p>

{% endblock %}