{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h2>Название:</h2>
<ul>
    <li>Телевизоры</li>
    <li>Антенны</li>
    <li>Батарейки</li>
    <li>Блендеры</li>
    <li>Бритвы</li>
    <li>Варочные поверхности</li>
    <li>Вентиляторы</li>
    <li>Весы</li>
    <li>Вытяжки</li>
    <li>Встраиваемые духовые шкафы</li>
    <li>Кронштейны</li>
    <li>Микроволновые печи</li>
    <li>Миксеры</li>
    <li>Морозильные камеры</li>
    <li>Морозильные лари</li>
    <li>Мультиварки</li>
    <li>Мясорубки</li>
    <li>Обогреватели</li>
    <li>Отпариватели</li>
    <li>Газовые плиты</li>
    <li>Электрические плиты</li>
    <li>Посудомоечные машины</li>
    <li>Приборы для волос</li>
    <li>Пылесборник</li>
    <li>Пылесосы</li>
    <li>Радар-детекторы</li>
    <li>Ресиверы</li>
    <li>Соковыжималки</li>
    <li>Стиральные машины</li>
    <li>Телефоны</li>
    <li>Тепловентиляторы</li>
    <li>Тостеры</li>
    <li>Утюги</li>
    <li>Фильтры</li>
    <li>Хлебопечи</li>
    <li>Холодильники</li>
    <li>Чайники</li>
    <li>Электропечи</li>
    <li>Эпиляторы</li>
    <li>Автоаудиотехника</li>
    <li>Товары для кухни</li>
    <li>Товары для дома</li>
    <li>Кондиционеры</li>
    <li>Посуда</li>
    <li>Машинки</li>
    <li>Кабели</li>
    <li>Сушки</li>
    <li>Прочее</li>
    <li>Встраиваемая техника</li>

</ul>

{% endblock %}