{% extends 'skills/base.html' %}

{% block content2 %}

<h1>Выполнено:</h1>

<ul>
    {% for todo in skills %}
    <li>
        <a href="{% url 'viewtodo' todo.id %}">
            <div class="left">
            {% if todo.important %}
            <b>{{ todo.title }}</b>
            {% else %}
            {{ todo.title }}
            {% endif %}

            {% if todo.memo %}
            - {{ todo.memo }}
            {% endif %}
            </div>
            <div class="right">
            {{ todo.date_completed|date:'M j Y H:i' }}
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}