{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{ msg }}</div>
{% endfor %}

<form action="/contact" method="post">
    <h4>Наш телефон: (8342)-23-30-18</h4>
    <h4>Наша почта: verous@moris.ru </h4>
    <p>Имя: <input type="text" name="username" required></p>
    <p>Email: <input type="email" name="email" required></p>
    <h4>Задайте нам вопрос:</h4>
    <p><textarea name="message" cols="40" rows="7"></textarea></p>
    <p><input type="submit" value="Отправить"></p>
</form>

    {%  if username and email %}
        <p>Имя пользователя: {{ username }}</p>
        <p>Email: {{ email }}</p>
        <p>Сообщение: {{ message }}</p>
    {% endif %}

{% endblock %}