{% extends 'base.html' %}

{% block content %}
{{ super() }}
МАГАЗИН «ОФЕЛИЯ» ОСНОВАН В 1996Г. В ГОРОДЕ САРАНСКЕ, КАК РОЗНИЧНЫЙ МАГАЗИН ПО ПРОДАЖЕ ДОМАШНЕЙ ТЕЛЕ-ВИДЕО И БЫТОВОЙ ТЕХНИКИ. ЦЕНА И АССОРТИМЕНТ ТЕХНИКИ, ПРЕДСТАВЛЕННОЙ В НАШИХ МАГАЗИНАХ, ВСЕГДА ПРИВЛЕКАЕТ ПОКУПАТЕЛЕЙ, КАК ЧАСТНЫХ ЛИЦ, ТАК И КРУПНЫЕ ПРЕДПРИЯТИЯ И ОРГАНИЗАЦИИ.

В НАСТОЯЩЕЕ ВРЕМЯ ЧЕТЫРЕ НАШИХ МАГАЗИНА РАСПОЛОЖЕНЫ В ЦЕНТРАЛЬНОЙ ЧАСТИ ГОРОДА САРАНСКА И ОДИН В П.ЧАМЗИНКА.

ПРОДАВЦЫ НАШИХ МАГАЗИНОВ ГОТОВЫ ПРОКОНСУЛЬТИРОВАТЬ ПО ЛЮБОМУ ВОПРОСУ, СВЯЗАННОМУ С ВЫБОРОМ И ПОКУПКОЙ ЭЛЕКТРОНИКИ И БЫТОВОЙ ТЕХНИКИ. МЫ ДОСТАВИМ, ПРИОБРЕТЁННУЮ У НАС ТЕХНИКУ, В УДОБНОЕ ДЛЯ ВАС ВРЕМЯ ДО ДВЕРИ ВАШЕЙ КВАРТИРЫ ИЛИ ДОМА.

МЫ СТРЕМИМСЯ ПРЕДОСТАВИТЬ НАШИМ ПОКУПАТЕЛЯМ ТОВАРЫ ЛУЧШИХ МИРОВЫХ ПРОИЗВОДИТЕЛЕЙ В ОБЛАСТИ ЭЛЕКТРОНИКИ И БЫТОВОЙ ТЕХНИКИ ПО ЛУЧШИМ ЦЕНАМ.

ЗА ДОЛГИЕ ГОДЫ РАБОТЫ НАША КОМПАНИЯ СМОГЛА ЗАВОЕВАТЬ ДОВЕРИЕ ПОКУПАТЕЛЕЙ И ПОДТВЕРДИТЬ СВОЮ КОНКУРЕНТОСПОСОБНОСТЬ НА РЫНКЕ БЫТОВОЙ ЭЛЕКТРОНИКИ.

{% endblock %}