<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Описание приложения</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Справочная информация:</h1>
    <h2>Генератор случайных паролей — это инструмент, который освобождает Вас от необходимости постоянно придумывать уникальные пароли для каждого случая.
        Приложение автоматически генерирует надежные и случайные пароли от 6 до 14 символов, которые включают комбинации цифр, верхние и нижние регистры, а так же специальные символы.
    </h2>
    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>